{% extends 'base/base.html' %}
{% load static %}

    {% block title %}
    <title>Junko - blog</title>
    {% endblock title %}


    {% block content %}	


    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'index' %}">home</a></li>
                            <li>blog</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--blog area start-->
    <div class="blog_page_section mt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="blog_wrapper">
                        <div class="blog_header">
                            <h1>Blog</h1>
                        </div>
                        <div class="row">
                            {% if page_obj %}
                            {% for blog in page_obj %}
                            <div class="col-lg-6 col-md-6 mb-4">
                                <article class="single_blog">
                                    <figure class="h-100 d-flex flex-column">
                                        <div class="blog_thumb mb-3">
                                            <!-- Image avec dimensions fixes -->
                                            <a href="{% url 'blog-detail' blog.id %}">
                                                <img src="{{ blog.image.url }}" alt="{{ blog.titre }}" class="img-fluid rounded-3 shadow-sm" style="height: 300px; width: 100%; object-fit: cover;">
                                            </a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h3 class="fw-semibold mb-3">
                                                <a href="{% url 'blog-detail' blog.id %}">{{ blog.titre }}</a>
                                            </h3>
                                            <div class="blog_meta mb-3">
                                                <span class="author">Posted by: <a href="#">{{ blog.auteur }}</a> / </span>
                                                <span class="post_date">On: <a href="#">{{ blog.cartepublication|date:"M d, Y" }}</a></span>
                                            </div>
                                            <div class="blog_desc mb-3">
                                                <p>{{ blog.description|truncatewords:30 }}...</p>
                                            </div>
                                            <footer class="readmore_button">
                                                <a href="{% url 'blog-detail' blog.id %}" class="btn btn-primary btn-sm">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            {% endfor %}
                            {% else %}
                            <p>Aucun article trouvé pour cette recherche.</p>
                            {% endif %}
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="blog_sidebar_widget">
                        <div class="widget_list widget_search">
                            <h3>Search</h3>
                            <form method="get" action="{% url 'blog' %}">
                                <input name="q" placeholder="Search..." type="text" value="{{ request.GET.q }}">
                                <button type="submit">search</button>
                            </form>
                        </div>
                        <div class="widget_list comments">
                            <h3>Recent Comments</h3>
                            {% for comment in commentaires %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="{% url 'blog-detail' comment.blog.id %}"><img src="{% static 'assets/img/blog/comment2.png.jpg' %}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <span> <a href="#">{{comment.utilisateur.prenom}} {{comment.utilisateur.nom}}</a> says:</span>
                                    <a href="{% url "blog-detail" comment.blog.id %}">{{comment.contenu}}</a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <div class="widget_list widget_post">
                            <h3>Recent Posts</h3>
                            {% for blog in recent_blogs %}
                            <div class="post_wrapper">
                                <div class="post_thumb">
                                    <a href="{% url 'blog-detail' blog.id %}"><img src="{{blog.image.url}}" alt=""></a>
                                </div>
                                <div class="post_info">
                                    <h3><a href="{% url 'blog-detail' blog.id %}">{{blog.titre}}</a></h3>
                                    <span>{{ blog.cartepublication|date:"M d, Y" }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        

                        <div class="widget_list widget_categories">
                            <h3>Catégories</h3>
                            <ul>
                                {% for cat in categories %}
                                    <li><a href="?categorie={{ cat.id }}">{{ cat.nom }}</a></li>
                                {% empty %}
                                    <li>Aucune catégorie disponible</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget_list widget_tag">
                            <h3>Tag products</h3>
                            <div class="tag_widget">
                                <ul>
                                    {% for tag in tags %}
                                        <li><a href="?tag={{ tag.id }}">{{ tag.titre }}</a></li>
                                    {% empty %}
                                        <li>Aucun tag disponible</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog area end-->

    <!--blog pagination area start-->
    <div class="blog_pagination">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pagination">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?{% if query %}q={{ query }}&{% endif %}page=1"><<</a></li>
                                <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">prev</a></li>
                            {% endif %}
    
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="current">{{ num }}</li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
    
                            {% if page_obj.has_next %}
                                <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">next</a></li>
                                <li><a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.paginator.num_pages }}">>></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--blog pagination area end-->

   
    
    {% endblock content %}