{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Junko - cart page</title>
    {% endblock title %}


    {% block content %}	

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'index' %}">home</a></li>
                            <li>Shopping Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shopping cart area start -->
    <div class="shopping_cart_area mt-60">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product_remove">Delete</th>
                                            <th class="product_thumb">Image</th>
                                            <th class="product_name">Produit</th>
                                            <th class="product-price">Prix</th>
                                            <th class="product-price">Prix Promo</th>
                                            <th class="product_quantity">Quantité</th>
                                            <th class="product_total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in panier_items %}
                                        <tr>
                                          <td class="product_remove">
                                            <a href="{% url 'supprimer_item' item.id %}"><i class="fa fa-trash-o"></i></a>
                                          </td>
                                          <td class="product_thumb">
                                            <a href="#"><img src="{{ item.produit.image.url }}" alt=""></a>
                                          </td>
                                          <td class="product_name"><a href="#">{{ item.produit.nom }}</a></td>
                                      
                                          <!-- Prix initial -->
                                          <td class="product-price">
                                            {{ item.produit.prix }} FCFA
                                          </td>
                                      
                                          <!-- Prix promotionnel -->
                                          <td class="product-price">
                                            {% if item.produit.en_promotion and item.produit.prix_promo %}
                                              <strong class="text-success">{{ item.produit.prix_promo }} FCFA</strong>
                                            {% else %}
                                              <span class="text-muted">-</span>
                                            {% endif %}
                                          </td>
                                      
                                          <td class="product_quantity">
                                            <label>Quantité</label>
                                            <input min="1" max="100" value="{{ item.quantite }}" type="number">
                                          </td>
                                          <td class="product_total">{{ item.total }} FCFA</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                          <td colspan="7">Votre panier est vide.</td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                      
                                </table>
                            </div>
                            <div class="cart_submit">
                                <button type="submit">update cart</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                           
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                    <div class="cart_subtotal">
                                        <p>Subtotal</p>
                                        <p class="cart_amount">{{ total }} FCFA</p>
                                    </div>
                                    <div class="cart_subtotal ">
                                        <p>Shipping</p>
                                        <p class="cart_amount"><span>Flat Rate:</span> 0 FCFA</p>
                                    </div>
                                    <a href="#">Calculate shipping</a>

                                    <div class="cart_subtotal">
                                        <p>Total</p>
                                        <p class="cart_amount">{{ total }} FCFA</p>
                                    </div>
                                    <div class="checkout_btn">
                                        <a href="{% url "proceed-to-checkout" %}">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
    <!--shopping cart area end -->

    {% endblock content %}