{% extends 'base/base.html' %}
{% load static %}

{%  block title %}
    <title>Junko - {{produit.nom}}</title>
    {%  endblock title %}


    {% block content %}	

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'index' %}">home</a></li>
                            <li> <a href="{% url 'shop' %}">product</a> </li>
                            <li>{{produit.nom}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--product details start-->
    <div class="product_details product_sidebar mt-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <aside class="sidebar_widget">
                        <div class="widget_inner">
                            <div class="widget_list widget_categories">
                                <h2>Product categories</h2>
                                <ul>
                                    {% for categorie in categories %}
                                        <li {% if categorie.sous_categories.all %}class="widget_sub_categories"{% endif %}>
                                            <a href="{% url 'produit' categorie.id %}">{{ categorie.nom }}</a>
                                            {% if categorie.sous_categories.all %}
                                                <ul class="widget_dropdown_categories">
                                                    {% for sous_categorie in categorie.sous_categories.all %}
                                                        <li><a href="{% url 'produit' sous_categorie.id %}">{{ sous_categorie.nom }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% comment %} <div class="widget_list widget_filter">
                                <h2>Filter by price</h2>
                                <form action="#">
                                    <div id="slider-range"></div>
                                    <button type="submit">Filter</button>
                                    <input type="text" name="text" id="amount" />

                                </form>
                            </div> {% endcomment %}
                            <div class="widget_list">
                                <h2>Compare Products</h2>
                                <div class="recent_product_container">
                                    {% for produit in produits %}
                                    <article class="recent_product_list">
                                        <figure>
                                            <div class="product_thumb">
                                                <a href="{% url 'produit' produit.id %}"><img
                                                        src="{{produit.image.url}}" alt="{{produit.nom}}"></a>
                                            </div>
                                            <figcaption class="product_content">
                                                <h3><a href="{% url 'produit' produit.id %}">{{produit.nom}}</a></h3>
                                                <div class="product_ratings">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a>
                                                        </li>
                                                        <li><a href="#"><i class="ion-android-star-outline"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="price_box">
                                                    {% if produit.en_promotion %}
                                                        <span class="old_price text-muted text-decoration-line-through me-2">{{ produit.prix|floatformat:0 }} FCFA</span>
                                                        <span class="current_price fw-bold text-danger">{{ produit.prix_final|floatformat:0 }} FCFA</span>
                                                    {% else %}
                                                        <span class="current_price fw-bold text-danger">{{ produit.prix|floatformat:0 }} FCFA</span>
                                                    {% endif %}
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                            
                        </div>
                    </aside>
                    <!--sidebar widget end-->
                </div>
                
                <div class="col-lg-9 col-md-12">
                    <div class="product_right_sidebar">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="product-details-tab">
                                    <div id="img-1" class="zoomWrapper single-zoom">
                                        <a href="#">
                                            <img id="zoom1" src="{{produit.image.url}}"
                                                data-zoom-image="{{produit.image.url}}" alt="big-1">
                                        </a>
                                    </div>
                                    <div class="single-zoom-thumb">
                                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="{{produit.image.url}}"
                                                    data-zoom-image="{{produit.image.url}}">
                                                    <img src="{{produit.image.url}}" alt="zo-th-1" />
                                                </a>

                                            </li>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="{{produit.image.url}}"
                                                    data-zoom-image="{{produit.image.url}}">
                                                    <img src="{{produit.image.url}}" alt="zo-th-1" />
                                                </a>

                                            </li>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="{{produit.image.url}}"
                                                    data-zoom-image="{{produit.image.url}}">
                                                    <img src="{{produit.image.url}}" alt="zo-th-1" />
                                                </a>

                                            </li>
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="{{produit.image.url}}"
                                                    data-zoom-image="{{produit.image.url}}">
                                                    <img src="{{produit.image.url}}" alt="zo-th-1" />
                                                </a>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="product_d_right">
                                    <form action="{% url 'ajouter_au_panier' produit.id %}" method="POST">
                                        {% csrf_token %}
                                        <h1>{{produit.nom}}</h1>
                                        <div class="product_nav">
                                            <ul>
                                                <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                                <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product_ratting">
                                            <ul>
                                                {% for i in "12345" %}
                                                    {% if forloop.counter <= note_moyenne|floatformat:0 %}
                                                        <li><i class="fa fa-star"></i></li>
                                                    {% else %}
                                                        <li><i class="fa fa-star-o"></i></li> {# étoile vide #}
                                                    {% endif %}
                                                {% endfor %}
                                                <li class="review"><a href="#"> ({{ total_avis }} avis) </a></li>
                                            </ul>
                                        </div>
                                        <div class="price_box">
                                            {% if produit.en_promotion %}
                                                <span class="old_price text-muted text-decoration-line-through me-2">{{ produit.prix|floatformat:0 }} FCFA</span>
                                                <span class="current_price fw-bold text-danger">{{ produit.prix_final|floatformat:0 }} FCFA</span>
                                            {% else %}
                                                <span class="current_price fw-bold text-danger">{{ produit.prix|floatformat:0 }} FCFA</span>
                                            {% endif %}
                                        </div>
                                        <div class="product_desc">
                                            <p>{{produit.description}} </p>
                                        </div>
                                        {% comment %} <div class="product_variant color">
                                            <h3>Available Options</h3>
                                            <label>color</label>
                                            <ul>
                                                <li class="color1"><a href="#"></a></li>
                                                <li class="color2"><a href="#"></a></li>
                                                <li class="color3"><a href="#"></a></li>
                                                <li class="color4"><a href="#"></a></li>
                                            </ul>
                                        </div> {% endcomment %}
                                        <div class="product_variant quantity">
                                            <label>Quantité</label>
                                            <input min="1" max="100" name="quantite" value="1" type="number">
                                            <button class="button" type="submit"> <a href="{% url 'notfound' %}"></a>  Ajouter au panier</button>
                                        </div>
                                        <div class=" product_d_action">
                                            <ul>
                                                {% if favoris == None %}
                                                <li><a href="{% url 'ajouter_favoris' produit.id %}" title="Add to wishlist">+ Add to Wishlist</a></li>
                                                {% else %}
                                                <li><a href="{% url 'supprimer_favoris' produit.id %}" title="Remove to wishlist">- Remove to Wishlist</a></li>
                                                {% endif %}
                                                <li><a href="#" title="Add to wishlist">+ Compare</a></li>
                                            </ul>
                                        </div>
                                        <div class="product_meta">
                                            <span>Sous Categorie: <a href="#">{{produit.souscategorie.nom}}</a></span>
                                            <span>Categorie: <a href="#">{{produit.souscategorie.categorie.nom}}</a></span>
                                        </div>

                                    </form>
                                    <div class="priduct_social">
                                        <ul>
                                            <li><a class="facebook" href="#" title="facebook"><i
                                                        class="fa fa-facebook"></i> Like</a></li>
                                            <li><a class="twitter" href="#" title="twitter"><i
                                                        class="fa fa-twitter"></i> tweet</a></li>
                                            <li><a class="pinterest" href="#" title="pinterest"><i
                                                        class="fa fa-pinterest"></i> save</a></li>
                                            <li><a class="google-plus" href="#" title="google +"><i
                                                        class="fa fa-google-plus"></i> share</a></li>
                                            <li><a class="linkedin" href="#" title="linkedin"><i
                                                        class="fa fa-linkedin"></i> linked</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--product info start-->
                    <div class="product_d_info mb-60">
                        <div class="product_d_inner ">
                            <div class="product_info_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info"
                                            aria-selected="false">Description</a>
                                    </li>
                                   
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="info" role="tabpanel">
                                    <div class="product_info_content">
                                        <p>{{produit.description}}</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="sheet" role="tabpanel">
                                    <div class="product_d_table">
                                        <form action="#">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class="first_child">Compositions</td>
                                                        <td>Polyester</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">Styles</td>
                                                        <td>Girly</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="first_child">Properties</td>
                                                        <td>Short Dress</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                    <div class="product_info_content">
                                        <p>Fashion has been creating well-designed collections since 2010. The brand
                                            offers feminine designs delivering stylish separates and statement dresses
                                            which have since evolved into a full ready-to-wear collection in which every
                                            item is a vital part of a woman's wardrobe. The result? Cool, easy, chic
                                            looks with youthful elegance and unmistakable signature style. All the
                                            beautiful pieces are made in Italy and manufactured with the greatest
                                            attention. Now Fashion extends to a range of accessories including shoes,
                                            hats, belts and more!</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <div class="reviews_wrapper">
                                        <h2>{{ total_avis }} avis pour {{ produit.nom }}</h2>
                                        {% for avis in avis_list %}
                                        <div class="reviews_comment_box">
                                            <div class="comment_thmb">
                                                <img src="{% static 'assets/img/blog/comment2.jpg' %}" alt="">
                                            </div>
                                            <div class="comment_text">
                                                <div class="reviews_meta">
                                                    <div class="star_rating">
                                                        <ul>
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= avis.note %}
                                                                    <li><i class="ion-ios-star"></i></li>
                                                                {% else %}
                                                                    <li><i class="ion-ios-star-outline"></i></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                    <p><strong>{{ avis.user.nom }} {{ avis.user.prenom }}</strong> - {{ avis.created_at|date:"d M Y" }}</p>
                                                    <span>{{ avis.commentaire }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <p>Aucun avis pour ce produit pour le moment.</p>
                                        {% endfor %}
                                        <div class="comment_title">
                                            <h2>Add a review </h2>
                                            <p>Your email address will not be published. Required fields are marked </p>
                                        </div>
                                        {% comment %} <div class="product_ratting mb-10">
                                            <h3>Your rating</h3>
                                            <ul>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            </ul>
                                        </div> {% endcomment %}
                                        <div class="product_review_form">
                                            {% if user.is_authenticated %}
                                            <form action="{% url 'ajouter_avis' produit.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="review_comment">Votre avis</label>
                                                        <textarea name="commentaire" id="review_comment" required></textarea>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="note">Votre note</label>
                                                        <select name="note" id="note" required class="form-control">
                                                            <option value="5">★★★★★</option>
                                                            <option value="4">★★★★☆</option>
                                                            <option value="3">★★★☆☆</option>
                                                            <option value="2">★★☆☆☆</option>
                                                            <option value="1">★☆☆☆☆</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <button type="submit">Soumettre</button>
                                            </form>
                                            {% else %}
                                            <p><a href="{% url 'login' %}">Connectez-vous</a> pour laisser un avis.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--product info end-->

                    <!--product area start-->
                    <section class="product_area related_products py-5">
                        <div class="container">
                            <div class="section_title text-center mb-4">
                                <h2>Related Products</h2>
                            </div>
                            <div class="product_carousel product_column4 owl-carousel">
                                {% for prod in menche %}
                                <div class="item">
                                    <div class="card h-100 d-flex flex-column border-0 shadow-sm">
                                        <!-- Image fixe et bien dimensionnée -->
                                        <div class="position-relative">
                                            <a href="{% url 'produit' prod.id %}">
                                                <div class="ratio ratio-4x3">
                                                    <img src="{{ prod.image.url }}" class="card-img-top object-fit-cover" alt="{{ prod.nom }}">
                                                </div>
                                            </a>
                                            <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
                                                {% if user.is_authenticated %}
                                                    {% if prod.id in favoris_ids %}
                                                        <a href="{% url 'supprimer_favoris' prod.id %}" class="text-danger"><i class="fa fa-heart"></i></a>
                                                    {% else %}
                                                        <a href="{% url 'ajouter_favoris' prod.id %}" class="text-dark"><i class="fa fa-heart-o"></i></a>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="{% url 'login' %}" class="text-muted"><i class="fa fa-heart-o"></i></a>
                                                {% endif %}
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" class="text-muted">
                                                    <i class="ion-ios-search-strong"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Contenu de la carte -->
                                        <div class="card-body d-flex flex-column text-center">
                                            <h5 class="card-title mb-2">{{ prod.nom }}</h5>
                                            <div class="price_box mb-3">
                                                <span class="current_price fw-bold text-danger">{{ prod.prix|floatformat:0 }} FCFA</span>
                                            </div>
                                            <div class="mt-auto">
                                                <a href="{% url 'produit' prod.id %}" class="btn btn-outline-primary btn-sm">Voir le produit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="item">
                                    <p class="text-center">Aucun produit disponible.</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!--product area end-->

                    <!--product area start-->
                    <section class="product_area related_products py-5">
                        <div class="container">
                            <div class="section_title text-center mb-4">
                                <h2>Related Products</h2>
                            </div>
                            <div class="product_carousel product_column4 owl-carousel">
                                {% for prod in cat_femme %}
                                <div class="item">
                                    <div class="card h-100 d-flex flex-column border-0 shadow-sm">
                                        <!-- Image fixe et bien dimensionnée -->
                                        <div class="position-relative">
                                            <a href="{% url 'produit' prod.id %}">
                                                <div class="ratio ratio-4x3">
                                                    <img src="{{ prod.image.url }}" class="card-img-top object-fit-cover" alt="{{ prod.nom }}">
                                                </div>
                                            </a>
                                            <div class="position-absolute top-0 end-0 m-2 d-flex gap-2">
                                                {% if user.is_authenticated %}
                                                    {% if prod.id in favoris_ids %}
                                                        <a href="{% url 'supprimer_favoris' prod.id %}" class="text-danger"><i class="fa fa-heart"></i></a>
                                                    {% else %}
                                                        <a href="{% url 'ajouter_favoris' prod.id %}" class="text-dark"><i class="fa fa-heart-o"></i></a>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="{% url 'login' %}" class="text-muted"><i class="fa fa-heart-o"></i></a>
                                                {% endif %}
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" class="text-muted">
                                                    <i class="ion-ios-search-strong"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- Contenu de la carte -->
                                        <div class="card-body d-flex flex-column text-center">
                                            <h5 class="card-title mb-2">{{ prod.nom }}</h5>
                                            <div class="price_box mb-3">
                                                <span class="current_price fw-bold text-danger">{{ prod.prix|floatformat:0 }} FCFA</span>
                                            </div>
                                            <div class="mt-auto">
                                                <a href="{% url 'produit' prod.id %}" class="btn btn-outline-primary btn-sm">Voir le produit</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <div class="item">
                                    <p class="text-center">Aucun produit disponible.</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                    <!--product area end-->

                </div>

            </div>
        </div>
    </div>
    <!--product details end-->


    {% endblock content %}